{% extends "base.html" %}
{% load staticfiles %}
  <div id="sitewrap">
    	<section id="content" class="body">
    		{% block content %}
    		{% for post in posts %}
  				<header>
    				<h2 class="entry-title">
     				 	<a href="{% url 'post_detail' pk=post.pk %}" rel="bookmark">{{ post.title}}</a>
     				</h2>
     				<h3>
     				 	<a class="next">Posted by <span class="caps">{{ post.author }}</span> on {{ post.published_date }}</a>
     				</h3>
     			</header>
     			    <p>{{ post.text }}</p>
			{% endfor %}
			{% endblock %}
		</section>
	</div>
	